<footer class="text-body-secondary py-5 text-center">
    <div class="container">
      <!-- <p class="float-end mb-1">
        <a href="#"><svg width="70" height="20" xmlns="http://www.w3.org/2000/svg">
          <image href="/small-inter-elements/up-arrow.png" height="20" width="70" /></svg></a>
      </p> -->
      <p class="mb-1">
          Orange LTD
          387 Lexington Lane New York, NY 10033, US.
          www.orangeblog.com
          orange.support@orange.com</p>
      <p class="mb-0"> © 2024 Orange®. All other trademarks and brand names are the property of their respective owners.</p>
    </div>
  </footer>
  <script src="/js/fixes.js"></script>
</html>
